[Unit]
Description=A Python SSH/SFTP reverse proxy
After=network.target

[Service]
ExecStart=/usr/local/bin/pysshrpd -c /etc/pysshrp/config.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
